#details {
    height: 40px;
    width: 50%;
    border-radius: 20px;
    background-color: rgb(12, 82, 151);
    color: white;
    font-size: 20px;
    border: none;
    margin-left: 8px;
}

#details:hover {
    background-color: rgb(21, 59, 228);
}
