#AddCart {
    height: 40px;
    width: 50px;
    border-radius: 55%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#AddCart img{
    height: 38px;
    width: 38px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale();
    cursor: pointer;
}

