*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cardItem{
    height: 490px;
    width: 290px;
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.cardImg {
    height: 39%;
    display: flex;
    justify-content: center;
}

.cardImg img {
    width: 100%;
}

.buttons {
    height: 50px;
    padding-top: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}