.cardDescription {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 480px;
;
}

.title {
    font-size: 30px;
    margin: 10px 0;
}

.description {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.cant {
    color: black;
    font-size: 16px;
    margin: 15px 0;
}

.precio {
    color: rgb(7, 35, 156);
    font-size: 40px;
    font-weight: bold;
    margin: 6px 0;
}

.parrafo {
    font-size: 20px;
}

.descriptionTitle {
    font-weight: bold;
    font-size: 18px;
    margin: 10px 0;
}